<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul>
            <% @users.each do |user| %>
                <% if user.profile %>
                    <li class="list-unstyled">
                        <div class="well row">
                            <div class="col-sm-4 text-center">
                                <% if user.profile.avatar %>
                                    <%= link_to user do %>
                                        <%= image_tag user.profile.avatar.url(:medium), class: 'user-index-avatar' %>
                                    <%= end %>
                                <% end %>
                            </div>
                            <div class="col-sm-4 text-center">
                                <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2><br/>   
                                <h4>
                                    <%= user.profile.job_tittle %>
                                    <% if user.plan_id == %>
                                        <span class="label label-danger">PRO</span>
                                    <% end%>
                                </h4>
                                <%= link_to user do %>
                                   <h4>View profile</h4> 
                                <%= end %>
                            </div>
                        </div>
                    </li>
                <% else %>
                    <h2>You need to create a profile and join the community to see our users</h2>
                <% end %>
            <% end %>
            </ul>
        </div>
    </div>
</div>