<div class='container'>
    <div class=row>
        <div class='col -md 3 text-center'>
            <%= image_tag @user.profile.avatar.url(:medium), class: 'avatar-show-img' %>
        </div>
            
        <div class='col -md 6 text-center'>
            <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
            <h3><%= @user.profile.job_title %></h3>
            <% if current_user.plan_id == 2 %>
                <div class='well profile-block profile-contact-info'>
                    <h3>Contact Information</h3>
                    </h4><%= @user.profile.phone_number %></h4><br/>
                    </h4><%= @user.profile.contact_email %></h4><br/>
                </div>
            <% end %>
            <div class='well profile-block profile-description'>
                <h3>Description</h3>
                </h4><%= @user.profile.description %></h4>
            </div>
        </div>
    </div>
</div>